body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgb(16, 15, 15);
    color: rgb(206, 205, 195);
}

.container {
    margin: auto;
    max-width: 720px;
}
