.project-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--spacing) * 2);
}

@media screen and (max-width: 640px) {
  .project-section {
    grid-template-columns: 1fr;
  }
}